body {
    font-family: 'Inter', sans-serif;
}

/* Custom colors */
.bg-primary { background-color: #00629B; }
.bg-secondary { background-color: #00B5E2; }
.text-primary { color: #00629B; }
.text-secondary { color: #00B5E2; }
.border-primary { border-color: #00629B; }
.border-secondary { border-color: #00B5E2; }
.text-muted { color: #75787B; }
.bg-muted { background-color: #B7B8BA; }